<h1> Sistema ecommerce </h1>

<h2> Funcionalidades disponibles </h2>
<ul>
    <li>Usuarios</li>
    <li>Categorias</li>
    <li>Productos</li>
</ul>

<h2> Tecnologias usadas </h2>
<ul>
    <li>Backend: Node.js + Express</li>
    <li>Base de datos: MongoDB</li>
    <li>Frontend: Handlebars</li>
    <li>Autenticacion: Sessions</li>
    <li>Validaciones: Mongoose</li>
</ul>